# .ebextensions/01_packages.config

commands:
  01_add_fedora_repo:
    # Adds the Fedora 36 repo (contains Tesseract) since AL2023 lacks it
    command: |
      cat <<EOF > /etc/yum.repos.d/fedora.repo
      [fedora]
      name=Fedora 36 - \$basearch
      metalink=https://mirrors.fedoraproject.org/metalink?repo=fedora-36&arch=\$basearch
      enabled=0
      gpgcheck=1
      gpgkey=https://getfedora.org/static/fedora.gpg
      skip_if_unavailable=False
      EOF
  02_install_tesseract:
    # Manual install from the enabled fedora repo
    command: "dnf --enablerepo=fedora install -y tesseract tesseract-devel tesseract-langpack-eng"

packages:
  yum:
    # Build tools for Python dependencies
    gcc: []
    gcc-c++: []
    python3-devel: []

    # Required for pdf2image and OpenCV
    poppler-utils: []
    mesa-libGL: []
    libSM: []
    libXrender: []
    libXext: []