option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elasticbeanstalk:command:
    Timeout: 600
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx